<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Competition List - Olympics 2024</title>
</head>
<body>
<section layout:fragment="content">
    <div class="is-flex is-justify-content-space-between">
        <h1 class="is-size-4 has-text-weight-bold" th:text="${sport.getName()}"></h1>
        <a th:href="|/competition/${sport.getId()}/new|" sec:authorize="hasRole('ADMIN')" class="button is-primary">Create</a>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Event start</th>
                <th>Stadium</th>
                <th>Discipline(s)</th>
                <th>Places left</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')">Ticker price</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comp : ${sport.getCompetitions()}">
                <td th:text="${sport.getName()}"></td>
                <td th:text="${#temporals.format(comp.time)}"></td>
                <td th:text="${comp.stadium.getName()}"></td>
                <td th:text="${comp.getDisciplineNames()}"></td>
                <td th:text="${placesLeft.get(comp.getOlympicNr1())}"></td>
                <td th:if="${#authorization.expr('hasRole(''ROLE_ADMIN'')') || placesLeft.get(comp.getOlympicNr1()) > 0}"
                    th:text="${#numbers.formatDecimal(comp.price, 1, 2)}"></td>
                <td th:if="${#authorization.expr('hasRole(''ROLE_USER'')') && placesLeft.get(comp.getOlympicNr1()) > 0}"><a th:href="|/ticket/${comp.getOlympicNr1()}|"
                                                             class="button is-info">Buy tickets</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>