<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Sport List - Olympics 2024</title>
</head>
<body>
<section layout:fragment="content" class="fixed-grid has-3-cols">
    <div class="grid">
        <a th:href="|/sport/${sport.getId()}|" class="card cell is-clickable" th:each="sport : ${sports}">
            <header class="card-header">
                <p class="card-header-title" th:text="${sport.getName()}"></p>
            </header>
            <div class="card-content">
                <div th:if="${#authorization.expr('hasRole(''ROLE_USER'')') && hasTickets}">
                    <a href="/ticket" class="button is-info">View tickets</a>
                </div>
            </div>
        </a>
    </div>
</section>
</body>
</html>