<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Buy Tickets - Olympics 2024</title>
</head>
<body>
<section layout:fragment="content">
    <h1 class="is-size-4 has-text-weight-bold" th:text="|#{ticket.buy.title} ${competition.sport.getName()} - ${competition.getDisciplineNames()}|"></h1>
    <form th:action="@{|/ticket/${comp_id}|}" th:object="${ticket}" method="post">
        <div class="field">
            <label class="label" th:text="#{ticket.buy.input.count.label}"></label>
            <div class="control">
                <input class="input" type="number" th:field="*{count}" max="20" th:errorclass="is-danger">
            </div>
            <p class="help is-danger" th:if="${#fields.hasErrors('count')}" th:errors="*{count}"></p>
        </div>
        <div class="is-grouped">
            <a class="button is-danger" th:href="|/sport/${competition.getSport().getId()}|" th:text="#{ticket.buy.button.return}"></a>
            <button class="button is-success" th:text="#{ticket.buy.button.buy}"></button>
        </div>
    </form>
</section>
</body>
</html>